<nav class="sidebar">
    <ul class="sidebar__menu">
        <li class="sidebar__item">
            <a href="" class="sidebar__link">Główna</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">Statystyki</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">Poleceni klienci</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">Kreacje reklamowe</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">Rozliczenia</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link sidebar__link--active">Regulamin</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">FAQ</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">Ustawienia</a>
        </li>
    </ul>
</nav>

