.sidebar {
    position: relative;

    &__menu {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column;
        padding: 35px 20px 35px 40px;
        border-right: 2px solid $pale-grey;
    }

    &__item {
        margin: 15px 0;
    }

    &__link {
        font-size: 18px;
        color: $black;

        &:hover {
            color: $mango;
        }

        &--active {
            font-weight: 700;
        }
    }
}