// 300 - Light
// 400 - Normal
// 700 - Bold
@font-face {
  font-family: 'kelson';
  src: url('../fonts/kelson-sans/Kelson Sans Light.otf')  format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'kelson';
  src: url('../fonts/kelson-sans/Kelson Sans Regular.otf')  format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'kelson';
  src: url('../fonts/kelson-sans/Kelson Sans Bold.otf')  format('opentype');
  font-style: normal;
  font-weight: 700;
}



