.button {
    display: inline-flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    height: 60px;
    padding: 0 70px;
    color: $button-txt;
    background: $button;
    cursor: pointer;
    border-radius: 30px;
    transition: $transition-time;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;

    &:hover {
        color: $button-txt-hover;
        background: $button-hover;
    }

    &--negative {
        border: 1px solid #fff;
        color: $button-txt;
        background: transparent;

        &:hover {
            color: $button-txt;
            background: $button;
        }
    }

    &--blue {
      border: 1px solid $button;
      color: $button;
      background: $button-txt;

      &:hover {
        color: $button-txt;
        background: $button;
      }
    }

    &--slim {
        height: 45px;
        font-size: 20px;
        padding: 0 50px;
    }

    &--full {
        width: 100%;
    }
}

.form {
    &__input {
        color: $input-color;
        background: $input-bg;
        font-family: 'OpenSans';
        font-size: 15px;
        line-height: 1.3;
        font-weight: 400;
        outline: none;
        width: 100%;
        border: none;
        border-bottom: 1px solid $bg;
        padding: 7px 0;
        @include placeholder($input-placeholder-color);
        @include autofill($input-color);

        &--textarea {
            resize: none;
            height: auto;
        }
    }

    &__input-wrapper {
        position: relative;

        &--textarea {
            line-height: 1.2;
        }
    }

    &__checkbox {
        $checkbox: &;
        display: none;

        &-label {
            position: relative;
            font-size: 15px;
            color: rgba($input-color, 0.8);
            padding-left: 28px;
            display: inline-block;
            transition: $transition-time;
            &::before {
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 3px;
                border: 1px solid rgba($input-color, 0.8);
                position: absolute;
                top: 2px;
                left: 0;
                transition: $transition-time;
            }
            &::after {
                content: '';
                width: 9px;
                height: 9px;
                position: absolute;
                top: 6px;
                left: 4px;
                border-radius: 2px;
                background: $input-color;
                opacity: 0;
                transition: $transition-time;
            }
        }

        &:checked {
            ~ #{$checkbox}-label {
                color: $input-color;
                &::before {
                    border-color: $input-color;
                }
                &::after {
                    opacity: 1;
                }
            }
        }

        &-wrapper {
            margin-bottom: 17px;

            + .parsley-errors-list {
                padding-left: 0 !important;
            }
        }
    }

    &__description {
        font-size: 12px;
        line-height: 1.5;
        margin-top: 10px;
        opacity: 0.8;
    }
}


.parsley-error {
//    border-color: $input-error-border-color !important;
//    color: $input-error-color !important;
}

.parsley-errors-list {
    font-size: 12px;
    color: $input-error-color;
    margin-top: 0;
    position: absolute;

    + .form__description {
        margin-top: 20px;
    }
}

div.parsley-error + .parsley-errors-list {
    margin-top: -20px;
    margin-bottom: 20px;
    padding-left: 35px;
}

