html,
body {
    height: 100%;
}

body {
    font-size: 14px;
    color: $black;
    line-height: 1.3;
    background: $bg;
    font-family: 'kelson';
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: $transition-time;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: 700;
}

sup {
    font-size: 50%;
    vertical-align: text-top;
}

input {
    appearance: none;
    border-radius: 0;
}

.link {
    color: $link;

    &:hover {
        opacity: 0.7;
    }
}

