$font-size: 12 14 16 18 20 24 36 48;
$align: left right center;

.text {
    @each $size in $font-size {
        &-font {
            &--#{$size} {
                font-size: #{$size}px;
            }
        }
    }

    @each $al in $align {
        &-#{$al} {
            text-align: $al;
        }
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--vertical-center {
        * {
            vertical-align: middle;
        }
    }

    &--extrabold {
        font-weight: 800 !important;
    }
}

.mark {
    color: $mango;
}

.header {
    &--large {
        font-size: 24px;
    }

    &--medium {
        font-size: 24px;
    }
}

.list {
    li {
        padding-left: 20px;
        margin-bottom: 10px;
        position: relative;
    }

    &--ordered {
        counter-reset: li1;

        li {
            counter-increment: li1;

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                content: counter(li1) '.';
                font-weight: 700;
            }

            ol {
                counter-reset: li2;
                li {
                    padding-left: 30px;
                    counter-increment: li2;
                    &::before {
                        content: counter(li1) '.' counter(li2) '.';
                    }
                }
            }
        }
    }

    ul,
    ol {
        margin-top: 10px;
    }
}