$margin: 10 20 30 40 50 60 70 80 90 100 120 150 220;
$padding: 10 20 30 40 50 60 70 80 90 100 120 150 220;

.margin {
    @each $m in $margin {
        &-bottom {
            &--#{$m} {
                margin-bottom: #{$m}px !important;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        @each $m in $margin {
            &-bottom-lg-down {
                &--#{$m} {
                    margin-bottom: #{$m}px !important;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        @each $m in $margin {
            &-bottom-md-down {
                &--#{$m} {
                    margin-bottom: #{$m}px !important;
                }
            }
        }
    }
}


.padding {
    @each $m in $margin {
        &-bottom {
            &--#{$m} {
                padding-bottom: #{$m}px !important;
            }
        }
        &-top {
            &--#{$m} {
                padding-top: #{$m}px !important;
            }
        }
    }
}

.flex {
    display: flex;

    &--row {
        flex-flow: row wrap;

        > * {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &--column {
        flex-flow: column nowrap;
    }

    &--center {
        justify-content: center;
    }

    &--space-between {
        justify-content: space-between;
    }

    &--items-center {
        align-items: center;
    }

    @include media-breakpoint-down(md) {
        &--row {
            flex-flow: column;

            > * {
                margin: 0 0 20px 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &--inline {
        display: inline-flex;
    }
}

.hidden {
    display: none !important;
}

