/*
  Colors
  */
$black: #333;
$mango: #fd8424;
$white: #fff;
$warm-grey: #828282;
$pinkish-grey: #bdbdbd;
$pale-grey: #f4f5f9;

// Page
$bg: $white;

// Navigation
/*
$nav-bg: #fff;
$nav-bg-hover: #eee;
$nav-color: #a4a5c4;
$nav-hover-color: #1f9dfb;
*/

// Text
$header: #110455;
$txt-primary: #373737;
$txt-secondary: #f98005;
$txt-neg: #fff;
$mark: #1f9dfb;

// Buttons
$button: #1c89fe;
$button-hover: #fff;
$button-txt: #fff;
$button-txt-hover: #1c89fe;

// Forms
$input-bg: none;
$input-bg-active: none;
$input-color: #fff;
$input-placeholder-color: rgba($input-color, 0.7);
$input-border-color: #fff;
$input-border-color-active: #fff;
$input-error-border-color: #f66;
$input-error-color: #f66;

// Links
$link: #1c89fe;

// Misc
$tabs: #a4a5c4;
$tabs-active: #1f9dfb;
$tabs-default: #f4f7fc;

/*
  Breakpoints
  */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);


/*
  Transitions
 */
$transition-time: 0.3s;


/*
  Gutters
 */
$gutter: 30px;

