.page-wrapper {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

.container {
    width: 950px;
    margin: 0 auto;
}

.content {
    margin-bottom: 60px;
    background: $white;
    box-shadow: 2px 4px 9px 0 rgba(0, 0, 0, 0.06);
    border: 2px solid #f4f5f9;
    border-radius: 3px;

    &__inner {
        padding: 32px 40px;
    }
}

