$gutter-half: $gutter / 2;
$cols: 12;

.row {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$gutter-half;
    margin-right: -$gutter-half;

    .col {
        padding-left: $gutter-half;
        padding-right: $gutter-half;

        @for $i from 1 through $cols {
            &-#{$i} {
                width: $i / $cols * 100%;
            }
        }

        @for $i from 1 through $cols {
            @include media-breakpoint-down(xl) {
                &-xl-#{$i} {
                    width: $i / $cols * 100%;
                }
            }
        }

        @for $i from 1 through $cols {
            @include media-breakpoint-down(lg) {
                &-lg-#{$i} {
                    width: $i / $cols * 100%;
                }
            }
        }

        &--padding {
            padding-left: 40px;
            padding-right: 40px;

            @include media-breakpoint-down(xl) {
                padding-left: $gutter-half;
                padding-right: $gutter-half;
            }
        }

        @include media-breakpoint-down(lg) {
            &-hide-lg-down {
                display: none;
            }

            &-full-width-lg-down {
                width: 100%;
            }
        }

        @include media-breakpoint-down(md) {
            width: 100% !important;
        }
    }
}
