<!doctype html>
<html lang="{{ config.language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BuyCoinNow</title>
    <meta name="description" content="">

    <link rel="shortcut icon" href="{{ config.assetsPath }}/images/favicon.ico?v={{ config.assetsVersion }}">
    <link rel="stylesheet" href="{{ config.assetsPath }}/css/main.min.css?v={{ config.assetsVersion }}">
</head>
<body>
    <div class="page-wrapper">
        {% block header %}{% include 'partials/header.njk' %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% include 'partials/footer.njk' %}{% endblock %}
    </div>
    <script src="{{ config.assetsPath }}/vendor/jquery-3.3.1.min.js"></script>
    <script src="{{ config.assetsPath }}/scripts/global.min.js?v={{ config.assetsVersion }}"></script>
</body>
</html>