{% extends 'template.njk' %}

{% block content %}
    {% include 'partials/sidebar.njk' %}
    <div class="container content">
        <div class="content__inner">

        </div>

        <div class="content__inner">
            <h2 class="header--medium margin-bottom--30">Regulamin</h2>

            <h3 class="mark margin-bottom--10"><strong>What’s an affiliate program?</strong></h3>
            <p class="margin-bottom--30">To narzędzie marketigu internetowego. W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową. Partner po przystąpieniu do programu umieszcza na swojej stronie materiały dostarczone przez organizatora – w zamian otrzymuje prowizję, rozumianą jako procentowy udział w przychodach organizatora z tytułu opłat pobieranych od Użytkownika za świadczone przez organizatora usługi.</p>
            <ol class="list list--ordered margin-bottom--30">
                <li>
                    <p><strong>Narzędzie marketigu internetowego.</strong> W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową.</p>
                </li>
                <li>
                    <p><strong>Narzędzie marketigu internetowego.</strong> W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową.</p>
                </li>
                <li>
                    <p><strong>Narzędzie marketigu internetowego.</strong> W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową.</p>
                </li>
                <li>
                    <p><strong>Narzędzie marketigu internetowego.</strong> W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową.</p>
                    <ol>
                        <li>
                            <p><strong>Narzędzie marketigu internetowego.</strong> W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową.</p>
                        </li>
                        <li>
                            <p><strong>Narzędzie marketigu internetowego.</strong> W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p><strong>Narzędzie marketigu internetowego.</strong> W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową.</p>
                </li>
            </ol>

            <h3 class="mark margin-bottom--10"><strong>What’s an affiliate program?</strong></h3>
            <p>To narzędzie marketigu internetowego. W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową. Partner po przystąpieniu do programu umieszcza na swojej stronie materiały dostarczone przez organizatora – w zamian otrzymuje prowizję, rozumianą jako procentowy udział w przychodach organizatora z tytułu opłat pobieranych od Użytkownika za świadczone przez organizatora usługi.To narzędzie marketigu internetowego. W programie tym, organizatorem jest 'platforma online' oferująca produkty lub usługi, zaś uczestnikiem osoby fizyczne lub firmy dysponujące własną stroną internetową. Partner po przystąpieniu do programu umieszcza na swojej stronie materiały dostarczone przez organizatora – w zamian otrzymuje prowizję, rozumianą jako procentowy udział w przychodach organizatora z tytułu opłat pobieranych od Użytkownika za świadczone przez organizatora usługi.</p>
        </div>
    </div>
{% endblock %}